.button {
  @apply border border-gray-200 rounded-lg px-6 py-2 text-base font-normal bg-white text-gray-500 transition-colors duration-150;
  outline: none;
  box-shadow: none;
  text-align: center;
  min-width: 170px;
}
.button:hover:not(:disabled) {
  @apply border-blue-300 text-blue-600 bg-gray-50;
}
.button:disabled {
  @apply bg-gray-100 text-gray-400 border-gray-200 cursor-not-allowed;
}
.buttonPrimary {
  @apply border-gray-300 text-gray-500;
}
.buttonGreen {
  @apply border-gray-300 text-gray-500;
}
.buttonPurple {
  @apply border-gray-300 text-gray-500;
} 